* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.header {
    height: 100px;
    background: #80a699;
}

.sidebar {
    width: 20%;
    float: left;
    height: 400px;
    background: #9edbf5;
}

.main {
    background: #581e89;
    width: 80%;
    float: right;
    height: 400px;
}

.footer {
    background: #149cd2;
    height: 120px;
    clear: both;
}